<plugin name='banner-core' version='0.2.16' grailsVersion='1.3.0 &gt; *'>
  <author>SunGard Higher Education</author>
  <authorEmail>horizon-support@sungardhe.com</authorEmail>
  <title>Banner Core Framework Plugin</title>
  <description>This plugin adds Spring Security (aka Acegi) and a custom
DataSource implementation (BannerDataSource) that together
provide for authentication and authorization based upon
Banner Security configuration. In addition, this plugin provides
additional framework support (e.g., injecting CRUD methods into
services, providing base test classes) to facilitate development of
Banner web applications.</description>
  <documentation>http://sungardhe.com/development/horizon/plugins/banner-core</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>com.sungardhe.banner.security.AccessControlFilters</resource>
    <resource>LoginController</resource>
    <resource>LogoutController</resource>
    <resource>MenuController</resource>
    <resource>com.sungardhe.banner.general.utility.MenuAndToolbarPreference</resource>
    <resource>com.sungardhe.banner.general.utility.PersonalPreference</resource>
    <resource>com.sungardhe.banner.general.utility.MenuAndToolbarPreferenceService</resource>
    <resource>com.sungardhe.banner.general.utility.PersonalPreferenceService</resource>
    <resource>com.sungardhe.banner.menu.MenuService</resource>
    <resource>com.sungardhe.banner.supplemental.SupplementalDataService</resource>
    <resource>com.sungardhe.banner.configuration.ConfigurationUtils</resource>
    <resource>com.sungardhe.banner.configuration.SupplementalDataUtils</resource>
    <resource>com.sungardhe.banner.constraints.ValidPropertyConstraint</resource>
  </resources>
  <dependencies>
    <plugin name='springSecurityCore' version='1.0.1' />
  </dependencies>
  <behavior />
</plugin>