#content{
    font-size: 100%;
}

.main-wrapper{
    background-color: #97A9B8;
    color: #333333;
    padding: 5px 10px 5px 5px;

}
.input-text{
    /*background-image: url("../images/text-input-sprites-new.png");
    background-position: 0 -23px;
    background-repeat: repeat-x;

    border: 2px solid #778FA0;   */
    border-radius: 5px 5px 5px 5px;
    width: 400px;
	height: 1.5em;
}

.input-text.default-state{
    border: 1px solid #778FA1;
}

.input-text:hover{
    border: 1px solid #005C96;
}

.input-text:focus, .input-text.error-state:focus{
    border: 2px solid #778FA1;
}

.input-text.disabled-state{
    border: 1px solid #c9d2d9;
}

.input-text.error-state{
   border: 1px solid #CF4141;
}

.tabledata{
    background-color: #F0F3F5;
    border-radius: 5px 5px 5px 5px;
    text-align: left;
    vertical-align: top;
    /*font-weight: bold;*/
}
.tabletext{
    font-weight: bold;
    text-align: right;
    width: 10%;
}
.input-table {
    width: 100%;
}
.button-bar-container{
    background-color: #EEEEEE;
    clear: both;
    overflow: hidden;
    padding: 3px 3px 3px 10px;
}
.button-bar{
    float: right;
}

.maincontainer{
    border-bottom-right-radius:
}

.ui-widget-panel{
    background-color: white;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
    width: 100%;
    background-image: none !important;
}

.invalid{
    color: #CF4141;
}


.secondary-button {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	color: #ffffff;
	padding: 6px 30px;
	background: -moz-linear-gradient(
		top,
		#999999 0%,
		#575757);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#999999),
		to(#575757));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#575757');
	border-radius: .6em;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border: .1em solid #333333;
	-moz-box-shadow:

		inset 0px 1px 0px rgba(237,237,237,0.7);
	-webkit-box-shadow:

		inset 0px 1px 0px rgba(237,237,237,0.7);
	text-shadow:
		0px -.1em 0px rgba(51,51,51,1);
        -moz-transition: all 0.25s linear;
  		-ms-transition: all 0.25s linear;
  		-o-transition: all 0.25s linear;
}
.secondary-button:hover {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	color: #fffcf2;
	padding: 6px 30px;
	background: -moz-linear-gradient(
		top,
		#AAAAAA 0%,
		#676767);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#AAAAAA),
		to(#676767));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#676767');
	border-radius: .6em;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border: .1em solid #333333;
	-moz-box-shadow:
		inset 0px 1px 0px rgba(237,237,237,0.7);
	-webkit-box-shadow:
		inset 0px 1px 0px rgba(237,237,237,0.7);
	text-shadow:
		0px -.1em 0px rgba(51,51,51,1);
}

.secondary-button:active {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	color: #ffffff;
	padding: 6px 30px;
	background: -moz-linear-gradient(top,#575757 0%,#999999);
	background: -webkit-gradient(linear, left top, left bottom,from(#575757),to(#999999));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#575757');
	border-radius: .6em;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border: .1em solid #000000;
	-moz-box-shadow:inset 0px 1pxm 0px rgba(237,237,237,0.7);
	-webkit-box-shadow:inset 0px 1px 0px rgba(237,237,237,0.7);
	text-shadow: 0px -.1em 0px rgba(0,0,0,1);
}

.primary-button {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    font-weight:bold;
    color: #ffffff;
    padding: 5px 20px;
    background: -moz-linear-gradient(
		top,
		#999999 0%,
		#575757);
    background: -webkit-gradient(
		linear, left top, left bottom,
		from(#999999),
		to(#575757));
    border-radius: 6px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 2px solid #404040;
    -moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(000,000,000,1);
    -webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(000,000,000,1);
    text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 0px 0px rgba(255,255,255,0);
}

.primary-button:hover {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#AAAAAA 0%,
		#656565);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#AAAAAA),
		to(#656565));
	border-radius: 6px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 2px solid #666666;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(247,247,247,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(247,247,247,1);
	 text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 0px 0px rgba(255,255,255,0);
}

.primary-button:active {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    font-weight:bold;
    color: #ffffff;
    padding: 5px 20px;
    background: -moz-linear-gradient(
		top,
		#575757 0%,
		#999999);
    background: -webkit-gradient(
		linear, left top, left bottom,
		from(#575757),
		to(#999999));
    border-radius: 6px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 2px solid #404040;
    -moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 6px rgba(000,000,000,1);
    -webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 6px rgba(000,000,000,1);
    text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 0px 0px rgba(255,255,255,0);
}

.notification-icon{
    background: url("../images/error.svg") no-repeat center;
	padding-left: 0.25em;
	padding-right: 0.25em;
	height: 1.5em;
	width: 1.25em;
	display: table-cell;
	float: left;
}
