/** *****************************************************************************
 Copyright 2009-2014 Ellucian Company L.P. and its affiliates.
 ****************************************************************************** */
BODY {
    margin: 0px;
    padding: 0px;
    font: normal 66.7% Arial, Helvetica, sans-serif;
}

/*-----------------------------------------------------------
LOG IN
-----------------------------------------------------------*/

.pageBg {
    background: #4C8DB5 url(../images/page-bg.png) repeat-x 0 0;
}

.splashBg {
    background: url(../images/splash-bg-light.png) no-repeat 0 0;
    height: 438px;
    width: 735px;
    margin: 140px auto 0px;
    position: relative;
}

.splashBg .appName {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    padding-top: 4px;
    text-align: right;
    position: absolute;
    top: 70px;
    right: 50px;
}

.splashBg .logIn {
    float: none;
    margin: 53px 0 0 263px;
    position: absolute;
    top: 157px;
}

.splashBg .logIn DIV {
    float: left;
    margin-top: 0;
}

.splashBg DIV SPAN INPUT {
    border-style: none;
    font-size: 14px;
    height: 16px;
    margin: 2px 0 0 0;
    outline: medium none;
    padding: 1px;
    width: 130px;
    vertical-align: top;
}

.splashBg .userName {
    background: url(../images/textbox-sprites.png) no-repeat left -27px;
    padding: 0px 0px 0px 20px;
    margin-right: 10px;
    height: 24px;
    width: 139px;
}

.splashBg .userName SPAN {
    display: block;
    background: url(../images/textbox-sprites.png) no-repeat right 0;
    padding-right: 10px;
    height: 24px;
}

.splashBg .password {
    background: url(../images/textbox-sprites.png) no-repeat left 0;
    padding: 0px 0px 0px 20px;
    height: 24px;
    width: 139px;
    margin-right: 10px;
}

.splashBg .password SPAN {
    display: block;
    background: url(../images/textbox-sprites.png) no-repeat right 0;
    padding-right: 10px;
    height: 24px;
}

.splashBg A:link, .splashBg A:visited, .splashBg .submit-button {
    background: url(../images/login-button-bg.png) no-repeat 0 0;
    display: block;
    width: 77px;
    height: 31px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    padding-top: 8px;
    font-size: 0.75em;
    font-weight: bold;
    position: relative;
    top: -4px;
}

.splashBg .copyright {
    bottom: 56px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 50px 0 100px;
    position: absolute;
}

.splashBg .appName SPAN {
    font-size: 14px;
    vertical-align: top;
}

.loginMsg {
    text-align: right;
    color: #FFF;
    position: absolute;
    top: 125px;
    right: 52px;
    font-size: 16px;
}

.icon-error {
    background: transparent url(../images/icon-error-16x16.png) no-repeat scroll 0 bottom;
    padding-left: 1.5em;
}

.splashBg .userName-error-state {
    background: url(../images/textbox-sprites.png) no-repeat left -81px;
    padding: 0px 0px 0px 20px;
    margin-right: 10px;
    height: 24px;
    width: 139px;
}

.splashBg .userName-error-state SPAN {
    display: block;
    background: url(../images/textbox-sprites.png) no-repeat right -81px;
    padding-right: 10px;
    height: 24px;
}

.splashBg .password-error-state {
    background: url(../images/textbox-sprites.png) no-repeat left -54px;
    padding: 0px 0px 0px 20px;
    height: 24px;
    width: 139px;
    margin-right: 10px;
}

.splashBg .password-error-state SPAN {
    display: block;
    background: url(../images/textbox-sprites.png) no-repeat right -54px;
    padding-right: 10px;
    height: 24px;
}

.ie-warning {
    background: url(../images/icon-warning-24x24.png) no-repeat 7px scroll transparent #f7eca3;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 0.917em;
    margin: 30px 30px 0;
    border: 1px solid #FFCC33;
    text-align: left;
    visibility: hidden;
    vertical-align: middle;
    border-radius: 2px;
}

.ie-warning DIV {
    color: #333333;
    margin: 10px;
    padding-left: 30px;
    vertical-align: middle;
}

.ie-warning SPAN {
    text-decoration: underline;
    cursor: pointer;
    color: #2200C1;
}

.signin-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    padding: 5px 17px;
    background: transparent; /* Old browsers */
    background: -moz-linear-gradient(top, #658ea8 0%, #194161 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #658ea8), color-stop(100%, #194161)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #658ea8 0%, #194161 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #658ea8 0%, #194161 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #658ea8 0%, #194161 100%); /* IE10+ */
    background: linear-gradient(top, #658ea8 0%, #194161 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#658ea8', endColorstr = '#194161', GradientType = 0); /* IE6-8 */
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #003366;
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.signin-button:hover {
    background: transparent; /* Old browsers */
    background: -moz-linear-gradient(top, #97b2c2 0%, #25506b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97b2c2), color-stop(100%, #25506b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #97b2c2 0%, #25506b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #97b2c2 0%, #25506b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #97b2c2 0%, #25506b 100%); /* IE10+ */
    background: linear-gradient(top, #97b2c2 0%, #25506b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#97b2c2', endColorstr = '#25506b', GradientType = 0); /* IE6-8 */
}

.signin-button:active {
    background: #194a6a; /* Old browsers */
    background: -moz-linear-gradient(top, #194a6a 0%, #658ea8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #194a6a), color-stop(100%, #658ea8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #194a6a 0%, #658ea8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #194a6a 0%, #658ea8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #194a6a 0%, #658ea8 100%); /* IE10+ */
    background: linear-gradient(top, #194a6a 0%, #658ea8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#194a6a', endColorstr = '#658ea8', GradientType = 0); /* IE6-8 */
}

.signin-button-wrapper {
    position: relative;
    bottom: .5em;
}

/* The following entry was added as a fix for aligning login page fields in Safari 4x*/
/* HRU-2870*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .splashBg .logIn DIV {
        float: left;
        margin-top: 5px;
    }

    .signin-btn {
        position: relative;
        top: -1px;
    }
}

.ie-warning SPAN {
    text-decoration: underline;
    cursor: pointer;
    color: #2200C1;
}

.forgotpassword {
    background: none !important;
    margin-left: -20px;
    width: 160px !important;
    color: #8CD6F4 !important;
    text-decoration: underline !important;
    font-size: 1em !important;
}

.forgotPasswordDiv {
    left: 453px;
    right: auto;
    position: absolute;
    top: 246px;
}
