body {
    margin: 0px;
    padding: 0px;
    direction: ltr;
}
.header {
    background: url("../images/header-bg.png") repeat-x scroll left bottom #999999;
    height: 75px;
}

.header .institutionalBranding {
    background: url("../images/ellucian-university-logo-sm.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 19px;
    left: 10px;
    position: relative;
    top: 11px;
    width: 179px;
}
.dialog {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
}

.message {
    font-family: Arial;
    font-size: 20px;
    color: #333;
    padding: 10px;
    text-align: center;

}
.LogoutSuccessImage {
    background: url("../images/check-mark.svg") 52px 52px;
    width: 52px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
}

.button-div {
    text-align: center;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    background-image: none;
    border: 1px solid;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary:focus , .btn-primary:active, .btn-primary:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-default:focus, .btn-default:active, .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.footer {
    background: url("../images/footer-background.png") repeat-x scroll left top transparent;
    bottom: -1px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.footer .logo {
    background: url("../images/footer-logo-wht.png") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    height: 12px;
    padding: 9px 14px;
    width: 63px;
}