/* Regular */
@font-face {
	font-family: 'OpenSans-Regular';

	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-weight: 400;
	font-style: normal;

}
/* SemiBold */
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('fonts/OpenSans-Semibold-webfont.eot');
	src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
	url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: 500;
	font-style: normal;

}
/* Bold */
@font-face {
	font-family: 'OpenSans-bold';
	src: url('fonts/OpenSans-Bold-webfont.eot');
	src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
	url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: bold;
	font-weight: 700;
	font-style: normal;
}

#mainContent{
    bottom: 30px;
    left: 0;
    margin: 0;
    min-height: 407px;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 75px;
    width: 100%;
}

#content{
    display: none !important;
	font-size: 16px;
}

/*.main-wrapper{
    background-color: #97A9B8;
    color: #333333;
    padding: 5px 10px 5px 5px;

}*/
.input-text{
    /*background-image: url("../images/text-input-sprites-new.png");
    background-position: 0 -23px;
    background-repeat: repeat-x;

    border: 2px solid #778FA0;   */
/*    border-radius: 5px 5px 5px 5px;
    width: 400px;*/
}

.eds-text-field.default-state{
    border: 1px solid #B2B3B7;
}

.eds-text-field:hover{
    border: 1px solid #026BC8;
}

.eds-text-field:focus, .eds-text-field.error-state:focus{
    border: 2px solid #026BC8;
}

.eds-text-field.disabled-state{
	border: 1px solid #151618;
	color: #5B5E65;
	background-color: #F7F7F7;
}

.eds-text-field.error-state{
	background-color: #FFFFFF;
	color: #151618;
	border: 1px solid #FF3030;
}

.tabledata{
/*    background-color: #F0F3F5;
    border-radius: 5px 5px 5px 5px;
    text-align: left;
    vertical-align: top;*/
    /*font-weight: bold;*/
	font-family: OpenSans-Semibold;
	width: 50%;
	padding-bottom: 1em;
}
.tabletext{
	font-family: OpenSans-semibold;
    text-align: right;
    width: 35%;
	padding-bottom: 1em;
}
.input-table {
    width: 100%;
	padding-bottom: 2em;
	font-size: 16px;
	padding-top: 2em;
}
.button-bar-container{
/*    background-color: #EEEEEE;
    clear: both;
    overflow: hidden;
    padding: 3px 3px 3px 10px;*/
	width: 100%;
}
.button-bar{
    width: 50%;
	margin: 0 auto;
	text-align: center
}

.maincontainer{
    border-bottom-right-radius:
}

.ui-widget-panel{
/*    background-color: white;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
    width: 100%;
    background-image: none !important;*/
}

.invalid{
    color: #CF4141;
}

.secondary {
	margin-right: 1em;
}

.primary, .secondary {
	width: 8.5em;
	height: 2.8em;
	font-size: 0.875em !important
}

table{
	border: none;
}

.fotgotpasswordtitle{
	font-family: OpenSans-Bold;
	padding-bottom: 2em;
	text-align: center;
}
.resetpasswordsection {
	padding: 2em;
}
@media screen and (min-width: 768px) {

	.primary, .secondary {
		width: 10.9em;
		height: 2.8em;
	}
	.eds-text-field {
		width: 22.7em;
		height: 2.8em;
	}
}