body {
	margin:0px;
	padding:0px;
	font:normal 100% Arial, Helvetica, sans-serif;
}

#test{}

/*-----------------------------------------------------------
LOG IN
-----------------------------------------------------------*/
.pageBg {
	background:#4C8DB5 url(../images/page-bg.png) repeat-x 0 0;
}

.splashBg {
	background:url(../images/splash-bg-light-rtl.png) no-repeat 0 0;
	height:404px;
	width:704px;
	margin:140px auto 0px;
	-moz-box-shadow:0 0 8px 8px #16577F;;
	-webkit-box-shadow:0 0 8px 8px #16577F;;
	box-shadow:0px 0px 8px #16577F;
}

.splashBg .appName {
	color:#FFF;
	text-align:left;
	margin:0px 0px 0px 50px;
	padding-top:81px;
	font-size:1.4em;
	font-weight:bold;
}

.splashBg .logIn {
	margin:47px 254px 0px 0px;
	float:none;
}

.splashBg .logIn div {
	float:left;
}

.splashBg div span input {
	width:121px;
	outline:none;
	border-style:none;
	border:0;
	margin-left: -16px;
	direction: rtl;
	padding:0;
	margin:3px 0 0 -17px;
}

.splashBg .userName {
	background:url(../images/textbox-sprites-rtl.png) no-repeat left -25px;
	padding:0px 0px 0px 20px;
	margin-right:0px;
	height:23px;
	width:125px;
	position: relative;
	left: 290px;
}

.splashBg .userName span {
	display:block;
	background:url(../images/textbox-sprites-rtl.png) no-repeat right 0;
	padding-right:10px;
	height:23px;
}

.splashBg .password {
	background:url(../images/textbox-sprites-rtl.png) no-repeat left 0;
	padding:0px 0px 0px 20px;
	margin-right:0px;
	height:23px;
	width:125px;
	position: relative;
	left: -7px;
}

.splashBg .password span {
	display:block;
	background:url(../images/textbox-sprites-rtl.png) no-repeat right 0;
	padding-right:10px;
	height:23px;
}
/*
.splashBg a:link, .splashBg a:visited, .splashBg .submit-button {

	background:url(../images/login-button-bg.png) no-repeat 0 0;
	display:block;
	width:77px;
	height:31px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	padding-top:8px;
	font-size:0.75em;
	font-weight:bold;
	position:relative;
	top:-4px;
}
*/
.splashBg .copyright {
	clear:both;
	margin:0px 160px 0px 42px;
	font-size:0.75em;
	color:#FFF;
	padding-top:36px;
	text-align: right;
}

.loginMsg {
	text-align:left;
	color:#FFF;
	padding-top:20px;
	margin-left:51px;
	background-image:url(../images/icon-error-16x16.png) left top no-repeat;
}
input[type="submit"] {
    border: 0;
    background: url('../images/login-button-sprite.png') no-repeat 0 0;
    width: 78px;
    height: 32px;
    color: #FFF;
    line-height: 32px;
    font-weight: bold;
    position: relative;
    bottom: 4px;
    left:-240px;   
}

input[type="submit"]:hover {
    background: url('../images/login-button-sprite.png') no-repeat 0 -37px;  
}

#sign-in-btn {
	padding:0px;
}

  