/** *****************************************************************************
 Copyright 2009-2014 Ellucian Company L.P. and its affiliates.
 ****************************************************************************** */
body {
    margin: 0px;
    padding: 0px;
    font: normal 100% Arial, Helvetica, sans-serif;
}

#test {
}

/*-----------------------------------------------------------
LOG IN
-----------------------------------------------------------*/
.pageBg {
    background: #4C8DB5 url(../images/page-bg.png) repeat-x 0 0;
}

.splashBg {
    background: url(../images/splash-bg-light-rtl.png) no-repeat 0 0;
    height: 438px;
    width: 735px;
    margin: 140px auto 0px;
}

.splashBg .appName {
    color: #FFF;
    text-align: left;
    margin: 0px 0px 0px 50px;
    padding-top: 24px;
    font-size: 1.4em;
    font-weight: bold;
    top: 65px;
    right: auto;
}

.splashBg .logIn {
    margin: 53px 0px 0px 25px;
    float: none;
}

.splashBg .logIn .textfield-wrapper {
    width: 480px;
}

.splashBg .logIn div {
    float: right;
}

.splashBg div span input {
    width: 121px;
    outline: none;
    border-style: none;
    border: 0;
    margin-left: -16px;
    direction: rtl;
    padding: 0;
    padding-right: 2px;
    margin: 3px 0 0 -17px;
}

.splashBg .userName {
    background: url(../images/textbox-sprites-rtl.png) no-repeat left -27px;
    padding: 0px 0px 0px 20px;
    margin-left: 10px;
    margin-right: 0;
    height: 23px;
    width: 125px;
}

.splashBg .userName span {
    display: block;
    background: url(../images/textbox-sprites-rtl.png) no-repeat right -27px;
    padding-right: 10px;
    height: 23px;
}

.splashBg .password {
    background: url(../images/textbox-sprites-rtl.png) no-repeat left 0;
    padding: 0px 0px 0px 20px;
    margin-left: 10px;
    margin-right: 0px;
    height: 23px;
    width: 125px;
}

.splashBg .password span {
    display: block;
    background: url(../images/textbox-sprites-rtl.png) no-repeat right 0;
    padding-right: 10px;
    padding-left: 0px;
    height: 23px;
}

.splashBg .userName-error-state {
    background: url(../images/textbox-sprites-rtl.png) no-repeat left -81px;
    padding: 0px 0px 0px 20px;
    margin-right: 0px;
    height: 23px;
    width: 125px;
    left: 290px;
}

.splashBg .userName-error-state span {
    display: block;
    background: url(../images/textbox-sprites-rtl.png) no-repeat right -81px;
    padding-right: 10px;
    height: 23px;
}

.splashBg .password-error-state {
    background: url(../images/textbox-sprites-rtl.png) no-repeat left -54px;
    padding: 0px 0px 0px 20px;
    margin-right: 0px;
    height: 23px;
    width: 125px;
    left: -7px;
}

.splashBg .password-error-state span {
    display: block;
    background: url(../images/textbox-sprites-rtl.png) no-repeat right -54px;
    padding-right: 10px;
    height: 23px;
}

.splashBg .copyright {
    clear: both;
    margin: 0px 100px 0px 50px;
    font-size: 0.75em;
    color: #FFF;
    padding-top: 33px;
    text-align: right;
    top: 250px;
}

.loginMsg {
    text-align: left;
    color: #FFF;
    padding-top: 20px;
    margin-left: 50px;
    background-image: url(../images/icon-error-16x16.png) left top no-repeat;
    top: 114px;
    right: auto;
}

.signin-button {
    left: -269px;
    font-size: 1.1em;
    padding: 0.15em 0.5em;
}

.signin-button-wrapper {
    bottom: 0.25em;
}

.forgotPasswordDiv {
    top: 240px;
    left: auto;
    right: 407px;
}


/* Enable theming */
.splashBg, .pageBg {
    background-image: none;
}

.pageBg {
  background-color: #4c8db5;
  background-image: linear-gradient( #015d96, #4c8db5 );
  background-repeat: repeat-x;
  background-size: auto 674px;
}

.splashBg {
  height: 408px;
  width: 705px;
  position: relative;
  background-color: #4e8bbb; /* center section background */
  border: 2px solid #00579a;
  box-shadow: 0 0 30px 0px #000;
  top: 155px;
  margin: auto;
  right: 0px;
}

.splashBg:before {
  /* top section */
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  height: 156px;
  width: 100%;
  background-color: #70a4c4;
  background-image: linear-gradient( to right, #70a4c4, #337dab );
  border: 0px;
  border-bottom: 1px solid;
  border-image: linear-gradient( to right, #4287b1, #005c96 ) 1;
}

.splashBg .copyright {
  /* bottom section */
  top: 244px;
  bottom: 0;
  left:0;
  right:0;
  margin: 0;
  padding: 24px 85px 0 35px;
  background-image: linear-gradient( to right, #3f85b0, #0d649b ); /* bottom section */
  border: 0px;
  border-top: 1px solid;
  border-image: linear-gradient( to right, #367fac, #005c96 ) 1;
}

.splashBg .appName {
  /* Banner(R) name */
  top:55px;
  left:35px;
  right:auto;
}

.splashBg .loginMsg {
  /* instructions under banner name */
  top: 110px;
  left: 37px;
  right: auto;
}


.splashBg .ellucianName {
  /* Ellucian (TM) from auth.gsp patch */
  color: #ffffff;
  font-size: 37px;
  position: absolute;
  right: 62px;
  left: auto;
  top: 181px;
  height: 86px;
  text-align: right;
}

.splashBg .ellucianName .trademark {
  font-size:4px;
}

.splashBg .logIn {
  margin: 36px 248px 0 0;
}

.splashBg .logIn DIV  {
  margin-top: 0;
}

.splashBg .ie-warning {
  position: relative;
}

.ie-warning DIV {
  color: #ffffff;
}

.splashBg .signin-button-wrapper {
  bottom: 0;
  top: -.15em;
}

.signin-button {
  background: #658ea8;
  background-image:linear-gradient(#658ea8, #194161);
  border: 1px solid #003366;
  text-shadow:none;
}

.signin-button:hover {
  background: #97b2c2;
  background-image:linear-gradient(#97b2c2, #25506b);
}

.signin-button:active {
  background: #194a6a;
  background-image:linear-gradient(#194a6a, #658ea8);
}
