body {
    margin: 0px;
    padding: 0px;
}

.dialog {
    background-color: #FDF5B3;
    background-image: url(../images/icon-warning-32x32.png);
    background-position: 20px 20px;
    background-repeat: no-repeat;
    border-color: #E4C71F;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    padding: 20px 20px 20px 62px;
    width: 304px;
    position: absolute;
    margin: -75px 0 0 -152px;
    top: 50%;
    left: 50%;
    line-height: 18px;
}

.dialog .title {
    font-weight: bold;
    font-size: 14px;
}

.dialog a:visited {
    color: #176A94
}

.header {
    background: url("../images/header-bg.png") repeat-x scroll left bottom #999999;
    height: 75px;
}

.header .institutionalBranding {
    background: url("../images/sgu-logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    left: 10px;
    position: relative;
    top: 15px;
    width: 173px;
}

.header .buttonBar {
    left: 10px;
    position: absolute;
    right: 10px;
    top: 42px;
}

.header .home {
    background: url("../images/btn-header-sprite.png") no-repeat scroll 0 -29px transparent;
    display: block;
    height: 24px;
    width: 26px;
}

.header .menuArrow {
    background: url("../images/header-composite-button-sprites.png") no-repeat scroll right 0 transparent;
    display: block;
    height: 24px;
    left: 30px;
    position: absolute;
    top: 0;
    width: 26px;
}

.header .fauxBar {
    background: url("../images/header-button-sprites.png") repeat-x scroll 0 -24px transparent;
    display: block;
    height: 24px;
    left: 56px;
    position: absolute;
    top: 0;
    right: 8px;
}

.header .fauxBarEndCap {
    background: url("../images/header-button-sprites.png") no-repeat scroll right 0 transparent;
    height: 24px;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    background: url("../images/footer-background.png") repeat-x scroll left top transparent;
    bottom: -1px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.footer .logo {
    background: url("../images/sghe_logo_white.png") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    height: 8px;
    padding: 11px 14px;
    width: 159px;
}

.error {
    background-color:  #FFF0CF;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    border-color: #FFF0CF;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    width: 604px;
    height: 304px;
    position: absolute;
    margin: 10px 0 0 -152px;
    top: 0%;
    left: 40%;
    line-height: 18px;
}

.errorBox {
    background-color:#F1F1F2;
    background-image: url(../images/bkgd_gradient.png);
    background-position: 0px 0px;
    background-repeat: repeat;
    border-color: #FFF0CF;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    padding: 20px 20px 20px 40px;
    width: 500px;
    height: 220px;
    position: relative;
    margin: 20px 20px 20px 20px;
    top: 0%;
    left: 0%;
    line-height: 18px;
}

.errorMessage {
    background-image: url(../images/icon-warning-32x32.png);
    background-repeat: no-repeat;
    margin: 50px 10px 10px 10px;
    padding: 0px 0px 30px 50px;
    font: 11px verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #666;
}

.errorBackButton {
  margin-left: 400px;
}