/*******************************************************************************
 Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

.dialog-mask {
    width: 100%;
    height: 90%;
    display: table;
}
.dialog-wrapper {
    display: table-cell;
    vertical-align: middle;
    color: #4F585F;
    font-size: .875em
}
.dialog {
    background: #FFFEEA url("../images/info-CO.png") no-repeat 1em 1em;
}
.custom-logout-dialog {
    background: #FFFEEA url("../images/check-mark-sm.svg") no-repeat 1em 1em;
}
.dialog,
.custom-logout-dialog {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    background-size: 2em;
}
.dialog-content,
.dialog-content-no-action {
    padding: 1em;
    border: 1px solid #E0D397;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.dialog-content-no-action {
    border-bottom: 1px solid #E0D397;
    border-radius: 5px 5px 5px 5px;
}
.dialog-sign {
    text-align: center;
}
.title {
    font-family: "OpenSans-bold";
    padding-left: 3em;
    padding-bottom: 1em;
}
.message {
    font-family: "OpenSans-Regular";
    padding-left: 3em;
}
.common-button-primary {
    font-size: .875em;
    font-family: "OpenSans-Semibold";
    background-color: #FFFEEA;
    border: 1px solid #E0D397;
    color: #4F585F;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding-top: .75em;
    padding-bottom: .75em;
    border-radius: 0 0 5px 5px;
}
@media only screen and (min-width: 1024px) {
    .dialog,
    .custom-logout-dialog {
        width: 40em;
        margin: auto;
    }
}
