body {
    margin: 0px;
    padding: 0px;
}

.dialog {
    background-color: #FDF5B3;
    background-image: url(../images/icon-warning-32x32.png);
    background-position: 20px 20px;
    background-repeat: no-repeat;
    border-color: #E4C71F;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    padding: 20px 20px 20px 62px;
    width: 304px;
    position: absolute;
    margin: -75px 0 0 -152px;
    top: 50%;
    left: 50%;
    line-height: 18px;
}

.dialog .title {
    font-weight: bold;
    font-size: 14px;
}

.dialog a:visited {
    color: #176A94
}

.header {
    background: url("../images/header-bg.png") repeat-x scroll left bottom #999999;
    height: 75px;
}

.header .institutionalBranding {
    background: url("../images/sgu-logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    left: 10px;
    position: relative;
    top: 15px;
    width: 173px;
}

.header .buttonBar {
    left: 10px;
    position: absolute;
    right: 10px;
    top: 42px;
}

.header .home {
    background: url("../images/btn-header-sprite.png") no-repeat scroll 0 -29px transparent;
    display: block;
    height: 24px;
    width: 26px;
}

.header .menuArrow {
    background: url("../images/header-composite-button-sprites.png") no-repeat scroll right 0 transparent;
    display: block;
    height: 24px;
    left: 30px;
    position: absolute;
    top: 0;
    width: 26px;
}

.header .fauxBar {
    background: url("../images/header-button-sprites.png") repeat-x scroll 0 -24px transparent;
    display: block;
    height: 24px;
    left: 56px;
    position: absolute;
    top: 0;
    right: 8px;
}

.header .fauxBarEndCap {
    background: url("../images/header-button-sprites.png") no-repeat scroll right 0 transparent;
    height: 24px;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    background: url("../images/footer-background.png") repeat-x scroll left top transparent;
    bottom: -1px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.footer .logo {
    background: url("../images/sghe_logo_white.png") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    height: 8px;
    padding: 11px 14px;
    width: 159px;
}

.error {
    background: transparent; /* Old browsers */
    background: -moz-linear-gradient(top, #fef4b0 0%, #fef5b1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef4b0), color-stop(100%, #fef5b1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fef4b0 0%, #fef5b1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fef4b0 0%, #fef5b1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fef4b0 0%, #fef5b1 100%); /* IE10+ */
    background: linear-gradient(top, #fef4b0 0%, #fef5b1 100%); /* W3C */
    border-color: #FFF0CF;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: Arial;
    font-size: 12px;
    min-width: 603px;
    min-height: 300px;
    margin-left: 200px;
    margin-right: 200px;
}

.errorBox {
    background-color:#fef4b0;
    background-image: url(../images/bkgd_gradient.png);
    background-position: 0px 0px;
    background-repeat: repeat;
    border-color: #bcb586;
    border-style: solid;
    border-width: 3px;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    position: relative;
    margin-bottom: 25px;
    margin-right: 25px;
	margin-left: 25px;
    margin-top: 25px;
    min-width: 500px;
    min-height: 220px;
    top: 0%;
    left: 0%;
    line-height: 18px;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.errorMessage {
    background-image: url(../images/icon-warning-48x48.png);
    background-repeat: no-repeat;
    background-position: 50px;
    margin: 50px 10px 10px 10px;
    padding-right: 40px;
    padding-left: 120px;
    font: 11px verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    border-color:#d6c039;
}

.errorBackButton {
    float: right;
    position: relative;
    top: -20px;
    padding-right: 25px;
    height: 30px;
}

