/** *****************************************************************************
 Copyright 2009-2018 Ellucian Company L.P. and its affiliates.
 ****************************************************************************** */
.splashBg .logIn {
	margin: 28px 0 0 160px;
}

.splashBg .logIn.sign-in {
	margin: 30px 575px 30px 30px;
}

.loginMsg {
	text-align: right;
}

.splashBg .loginMsg {
	margin: 0 85px 0 0;
}

.splashBg .forgotPasswordDiv {
	left: 195px;
	right: auto;
}

@media screen and (max-width: 568px) {
	.splashBg .ellucianName {
		margin-left: auto;
	}
}